<h1>Listing subdomains</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subdomains.each do |subdomain| %>
  <tr>
    <td><%= subdomain.name %></td>
    <td><%= link_to 'Show', subdomain %></td>
    <td><%= link_to 'Edit', edit_subdomain_path(subdomain) %></td>
    <td><%= link_to 'Destroy', subdomain, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subdomain', new_subdomain_path %>
